
$grey-darken: #333a3e

html, body
  margin: 0
  padding: 0

*, *::before, *::after
  box-sizing: border-box

body
  font-family: sans-serif
  font-size: 16px
  color: #333a3e
  background: #f7f7f7

  padding: 8px
  @media (min-width: 768px)
    padding: 32px

main, header
  display: block
  max-width: 960px

header
  display: block
  max-width: 960px
  margin: 0 auto

  ul.breadcrumb
    margin: 0
    padding: 10px 16px
    list-style: none
    background-color: #eee

    li
      display: inline
      font-size: 18px
    
    li + li:before
      padding: 8px
      color: black
      content: "/\00a0"

    li a[href]
      color: #0275d8
      text-decoration: none

    li a[href]:hover
      color: #01447e
      text-decoration: underline

main
  margin: 16px auto 128px

table.images-list
  min-width: 100%
  table-layout: fixed
  border-collapse: collapse

  & > tbody
    background: white
    border-radius: 3px
    box-shadow: 0 0 0 1px rgba($grey-darken, 0.12), 0 1px 2px 0 rgba($grey-darken, 0.2)

  tr, th, td
    padding: 0
    margin: 0

  th
    height: 64px
    font-size: 20px

  tr._row > td
    padding: 8px 12px

    &._img
      text-align: center
      padding: 12px

      img
        max-width: 40vw

  tr._bg-dark td._img
    background-color: #333a3e

  tr._link td
    border-top: 1px solid #eee
    border-bottom: 1px solid #ddd

    input
      margin: 0
      padding: 0 56px 0 16px
      width: 100%
      font-size: 100%
      outline: 0
      border: 0
      height: 40px

    position: relative
    button
      // display: flex
      // justify-content: center
      // align-items: center
      position: absolute
      padding: 0
      margin: 0
      top: 0
      right: 0
      width: 40px
      height: 40px
      font-size: 28px
      cursor: pointer
      background: transparent
      border: 0
      border-left: 1px solid #eee
      outline: 0

      &:active
        background: rgba(#333a3e, 0.3)

  a._link
    color: #267bbd
    text-decoration: none
    border-bottom: 1px dotted #267bbd

body._md-index
  main

    h2
      font-size: 24px
      font-weight: 500

    a
      display: block
      background: white
      border-radius: 3px
      box-shadow: 0 0 0 1px rgba($grey-darken, 0.12), 0 1px 2px 0 rgba($grey-darken, 0.2)
      padding: 8px

      &:hover
        box-shadow: 0 0 0 1px rgba($grey-darken, 0.12), 0 1px 3px 0 rgba($grey-darken, 0.4)

      img
        display: block
        max-width: 100%
